.customize-control-kmt-title .customize-control-title {
    font-size: 14px;
    background-color: #ffffff;
    color: #525252;
    margin: 0px -12px;
    display: block;
}

.customize-control-kmt-title .customize-control-title{
    padding: 7px 10px;
    margin-bottom: 0px;
}
.customize-control-kmt-title .description.customize-control-description{
    padding: 7px 0;
    margin-bottom: 0px;
}
